@model BookStore.ViewModels.BookAuthorViewModel

<form method="post" asp-action="Create">
	@if (ViewBag.Massage == "Please select Author")
	{
		<h5 class="alert alert-danger">@ViewBag.Massage</h5>	
	}
	<div class="row">
		<div class="col-2">
			<label class="form-label" hidden>Id</label>
		</div>
		<div class="col-3">
			<input class="form-control col-3" asp-for="Id" hidden disabled />
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<label class="form-label">Title</label>
		</div>
		<div class="col-3">
			<input class="form-control col-3" asp-for="Title"/>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<label class="form-label">Description</label>
		</div>
		<div class="col-3">
			<input class="form-control col-3" asp-for="Description"/>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<label class="form-label" asp-for="AuthorId">Author</label>
		</div>
		<div class="col-3">
			<select class="form-control col-3" asp-for="AuthorId" asp-items="@(new SelectList(Model.Authors, "Id", "FullName") )"></select>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-primary" type="submit">Save</button>
	</div>
</form>